/***************************************************

RocketLeague EasyCustomOverlay カスタムCSS

***************************************************/

/***************************************************
 ■ レイアウト確認用 ■ 
***************************************************/

/*
div {
  outline: 1px solid red;
}
span {
  outline: 1px solid greenyellow;
}
*/



/***************************************************
 ■ アクティブプレイヤーの情報 ■ 
***************************************************/

/* デモ数 */
#active-demos-box {
  /* 非表示設定 */
  display: none;
}

/* 他の車体との接触数 */
#active-cartouches-box {
  /* 非表示設定 */
  display: none;
}

/* 車体速度 */
#active-speed-box {
  /* 非表示設定 */
  display: none;
}

/* ボールタッチ回数 */
#active-touches-box {
  /* 非表示設定 */
  display: none;
}