/***************************************************

Coded by HASSHY
Please follow me on Twitter and Twitch (@hasshy2784)

***************************************************/

body,
.full-screen {
  width: 1920px;
  height: 1080px;
}

/* 背景画像 */
#stats-back-image {
  /* 透過設定 */
  opacity: 0.9;
}

/***************************************************
 ■ スコアボード ■ 
***************************************************/

#score-box {
  /* 不要であれば非表示 */
  /* display: none; */
}

/* タイマー */
#timer-box {
  top: 40px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 150px;
  text-align: center;
}
#timer,
#overtime-text {
  color: white;
  font-size: 50px;
}

/* Blueチーム名 */
#blue-team-name-box {
  top: 55px;
  left: 400px;

  width: 350px;
  text-align: right;
}

#blue-team-name {
  color: white;
  font-size: 35px;
}

/* Blueチームスコア */
#blue-score-box {
  top: 40px;
  left: 790px;

  width: 60px;
  text-align: center;
}

#blue-score {
  color: white;
  font-size: 50px;
}

/* Blueチーム勝利数 */
#blue-team-win-count-box {
  top: 130px;
  right: 1145px;

  width: 350px;
  text-align: right;
}
#blue-team-win-count .win-icon.on:after {
  content: url(../images/win-count-blue-on.png);
}
#blue-team-win-count .win-icon.off:after {
  content: url(../images/win-count-blue-off.png);
}

/* Blueチーム画像 */
#blue-image-box {
  top: 50px;
  left: 380px;

  max-width: 70px;
  max-height: 70px;
}
#blue-image {
  max-width: 70px;
  max-height: 70px;
  border-style: none;
}

/* Orangeチーム名 */
#orange-team-name-box {
  top: 55px;
  right: 400px;

  width: 350px;
  text-align: left;
}

#orange-team-name {
  color: white;
  font-size: 35px;
}

/* Orangeチームスコア */
#orange-score-box {
  top: 40px;
  right: 790px;

  width: 60px;
  text-align: center;
}

#orange-score {
  color: white;
  font-size: 50px;
}

/* Orangeチーム勝利数 */
#orange-team-win-count-box {
  top: 130px;
  left: 1145px;

  width: 350px;
  text-align: left;
}
#orange-team-win-count .win-icon.on:after {
  content: url(../images/win-count-orange-on.png);
}
#orange-team-win-count .win-icon.off:after {
  content: url(../images/win-count-orange-off.png);
}

/* Orangeチーム画像 */
#orange-image-box {
  top: 50px;
  right: 380px;

  max-width: 70px;
  max-height: 70px;
}
#orange-image {
  max-width: 70px;
  max-height: 70px;
  border-style: none;
}

/* 試合情報メインタイトル */
#match-info-main-tile-box {
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  text-align: center;
}
#match-info-main-tile {
  color: white;
  font-size: 25px;
}

/* 試合情報サブタイトル */
#match-info-sub-tile-box {
  top: 125px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  text-align: center;
}
#match-info-sub-tile {
  color: white;
  font-size: 20px;
}

/***************************************************
 ■ スタッツボード ■ 
***************************************************/

/* スタッツテーブル */
#stats-table {
  top: 200px;

  /* センタリング設定 */
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px !important;
  /* text-align: center; */

  /* フォント設定 */
  font-size: 18px;
  color: white;
}

/* ヘッダー列の設定 */
.header {
  min-width: 250px;
  margin: 0px 30px;
}

/* プレイヤー列の設定 */
.player {
  min-width: 180px;
  max-width: 700px;
  width: 100%;
  font-size: 30px;
}

/* 各行の設定 */
th, td {
  /* 高さ */
  height: 90px; 
}

/* 比率バーの色 */
.progress {
  height: 16px;
}
.progress-bar.blue {
  background-color: blue;
}
.progress-bar.orange {
  background-color: orange;
}