/***************************************************

Coded by HASSHY
Please follow me on Twitter and Twitch (@hasshy2784)

***************************************************/

body,
.full-screen {
  width: 1920px;
  height: 1080px;
}

/***************************************************
 ■ スコアボード ■ 
***************************************************/

/* タイマー */
#timer-box {
  top: 40px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  
  width: 150px;
  text-align: center;
}
#timer,
#overtime-text {
  color: white;
  font-size: 50px;
}

/* Blueチーム名 */
#blue-team-name-box {
  top: 55px;
  left: 400px;

  width: 350px;
  text-align: right;
}
#blue-team-name {
  color: white;
  font-size: 35px;
}

/* Blueチームスコア */
#blue-score-box {
  top: 40px;
  left: 790px;

  width: 60px;
  text-align: center;
}
#blue-score {
  color: white;
  font-size: 50px;
}

/* Blueチーム勝利数 */
#blue-team-win-count-box {
  top: 130px;
  right: 1145px;

  width: 350px;
  text-align: right;
}
#blue-team-win-count .win-icon.on:after {
  content: url(../images/win-count-blue-on.png);
}
#blue-team-win-count .win-icon.off:after {
  content: url(../images/win-count-blue-off.png);
}

/* Blueチーム画像 */
#blue-image-box {
  top: 50px;
  left: 380px;

  max-width: 70px;
  max-height: 70px;
}
#blue-image {
  max-width: 70px;
  max-height: 70px;
  border-style: none;
}

/* Orangeチーム名 */
#orange-team-name-box {
  top: 55px;
  right: 400px;

  width: 350px;
  text-align: left;
}
#orange-team-name {
  color: white;
  font-size: 35px;
}

/* Orangeチームスコア */
#orange-score-box {
  top: 40px;
  right: 790px;

  width: 60px;
  text-align: center;
}
#orange-score {
  color: white;
  font-size: 50px;
}

/* Orangeチーム勝利数 */
#orange-team-win-count-box {
  top: 130px;
  left: 1145px;

  width: 350px;
  text-align: left;
}
#orange-team-win-count .win-icon.on:after {
  content: url(../images/win-count-orange-on.png);
}
#orange-team-win-count .win-icon.off:after {
  content: url(../images/win-count-orange-off.png);
}

/* Orangeチーム画像 */
#orange-image-box {
  top: 50px;
  right: 380px;

  max-width: 70px;
  max-height: 70px;
}
#orange-image {
  max-width: 70px;
  max-height: 70px;
  border-style: none;
}

/* 試合情報メインタイトル */
#match-info-main-tile-box {
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  text-align: center;
}
#match-info-main-tile {
  color: white;
  font-size: 25px;
}

/* 試合情報サブタイトル */
#match-info-sub-tile-box {
  top: 125px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 700px;
  text-align: center;
}
#match-info-sub-tile {
  color: white;
  font-size: 20px;
}

/***************************************************
 ■ スタットフィードの情報 ■ 
***************************************************/

/* BOX */
#statfeed-box {
  margin-top: 300px;
  padding-left: 25px;
  padding-right: 25px;

  /* スタットフィード表示時間 */
  --time-display: 3s;
}

/* 表示設定 */
.statfeed {

  /* 表示位置（flex-start:左寄せ、flex-end:右寄せ） */
  justify-content: flex-start;

  /* スタットフィード各行の縦間隔 */
  margin-bottom: 10px;
  
}

/* 各列のデザイン設定 */
.statfeed div{

  /* 余白 */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 30px;

}

/* 各列の前に表示される矢印のデザイン設定 */
.statfeed div::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  right: calc(100%);

  clip-path: polygon(
    0 0,
    calc(100% + 1px) 0,
    calc(100% + 1px) 100%,
    0 100%,
    100% 50%
  );
}

/* 各列の後に表示される矢印のデザイン設定 */
.statfeed div::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  left: 100%;

  clip-path: polygon(-1px 0, 0 0, 100% 50%, 0 100%, -1px 100%);
}

/* イベント種別の情報 */
.statfeed .event,
.statfeed .event::before,
.statfeed .event::after {
  color: #fff;
  background: #000;
}

/* Blueチームの情報 */
.statfeed .team0,
.statfeed .team0::before,
.statfeed .team0:after {
  color: #fff;
  background: blue;
}

/* Orangeチームの情報 */
.statfeed .team1,
.statfeed .team1::before,
.statfeed .team1::after {
  color: #fff;
  background: orange;
}

/* フェードイン・アウト */
.statfeed {
  opacity: 0;

  animation-name: statfeed_FadeInOut;
  animation-timing-function: ease;
  animation-duration: var(--time-display); /* アニメーションの再生時間 */
  animation-iteration-count: 1;
  animation-direction: normal;
}


/* スタットフィード　フェードイン・アウト */
@keyframes statfeed_FadeInOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/***************************************************
 ■ Blueチームの情報 ■ 
***************************************************/

#blue-players-box img {
  padding: 2px;
  border-radius: 50%;
  border: 3px solid blue;
  background-color: rgb(148, 148, 255);
}

/* Blueチームプレイヤー1の情報 */
/* BOX */
#blue-player-1-box {
  top:   15px;
  left:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#blue-player-1-image-box {
  top: -10px;
  left: 270px;
}
#blue-player-1-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#blue-player-1-name-box {
  padding-top:   2px;
  padding-left:  6px;

  width:       270px;
  text-align:   left;
}
#blue-player-1-name {
  color:     white;
  font-size: 16px;
}

/* ブースト値 */
#blue-player-1-boost-box {
  padding-top:   2px;
  padding-right:  4px;

  width:       270px;
  text-align:  right;
}
#blue-player-1-boost {
  color:     white;
  font-size: 16px;
}

/* ブーストバー */
#blue-player-1-p-bar-box {
  top:   30px;
  left:  6px;

  width:       260px;
  height:       10px;
  background-color: aliceblue;
}
#blue-player-1-p-bar {
  background-color: dodgerblue;
}

/* Blueチームプレイヤー2の情報 */
/* BOX */
#blue-player-2-box {
  top:   75px;
  left:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#blue-player-2-image-box {
  top: -10px;
  left: 270px;
}
#blue-player-2-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#blue-player-2-name-box {
  padding-top: 2px;
  padding-left: 6px;

  width: 270px;
  text-align: left;
}
#blue-player-2-name {
  color: white;
  font-size: 16px;
}

/* ブースト値 */
#blue-player-2-boost-box {
  padding-top: 2px;
  padding-right: 4px;

  width: 270px;
  text-align: right;
}
#blue-player-2-boost {
  color: white;
  font-size: 16px;
}

/* ブーストバー */
#blue-player-2-p-bar-box {
  top: 30px;
  left: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#blue-player-2-p-bar {
  background-color: dodgerblue;
}

/* Blueチームプレイヤー3の情報 */
/* BOX */
#blue-player-3-box {
  top:   135px;
  left:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#blue-player-3-image-box {
  top: -10px;
  left: 270px;
}
#blue-player-3-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#blue-player-3-name-box {
  padding-top: 2px;
  padding-left: 6px;

  width: 270px;
  text-align: left;
}
#blue-player-3-name {
  color: white;
  font-size: 16px;
}

/* ブースト値 */
#blue-player-3-boost-box {
  padding-top: 2px;
  padding-right: 4px;

  width: 270px;
  text-align: right;
}
#blue-player-3-boost {
  color: white;
  font-size: 16px;
}


/* ブーストバー */
#blue-player-3-p-bar-box {
  top: 30px;
  left: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#blue-player-3-p-bar {
  background-color: dodgerblue;
}

/* Blueチームプレイヤー4の情報 */
/* BOX */
#blue-player-4-box {
  top:   195px;
  left:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#blue-player-4-image-box {
  top: -10px;
  left: 270px;
}
#blue-player-4-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#blue-player-4-name-box {
  padding-top: 2px;
  padding-left: 6px;

  width: 270px;
  text-align: left;
}
#blue-player-4-name {
  color: white;
  font-size: 16px;
}

/* ブースト値 */
#blue-player-4-boost-box {
  padding-top: 2px;
  padding-right: 4px;

  width: 270px;
  text-align: right;
}
#blue-player-4-boost {
  color: white;
  font-size: 16px;
}

/* ブーストバー */
#blue-player-4-p-bar-box {
  top: 30px;
  left: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#blue-player-4-p-bar {
  background-color: dodgerblue;
}

/* Blueチームプレイヤーのアクティブ時の表示 */
/* BOX */
#blue-players-box .active {
  background: linear-gradient(90deg, rgba(0,0,51,1) 0%, rgba(0,0,51,1) 50%, rgba(255,0,0,1) 100%);
}

/* プレイヤー名 */
#blue-players-box .active .name span {
  color: white;
}

/* ブースト値 */
#blue-players-box .active .boost span {
  color: white;
}

/* ブーストバー */
#blue-players-box .active .boost-bar {
  background-color: aliceblue;
}
#blue-players-box .active .boost-bar div {
  background-color: dodgerblue;
}

/***************************************************
 ■ Orangeチームの情報 ■ 
***************************************************/

#orange-players-box img {
  padding: 2px;
  border-radius: 50%;
  border: 4px solid orange;
  background-color: rgb(255, 225, 200);
}


/* Orangeチームプレイヤー1の情報 */
/* BOX */
#orange-player-1-box {
  top:   15px;
  right:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#orange-player-1-image-box {
  top: -10px;
  right: 270px;
}
#orange-player-1-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#orange-player-1-name-box {
  padding-top: 2px;
  padding-right: 6px;

  width: 270px;
  text-align: right;
}
#orange-player-1-name {
  color: white;
  font-size: 16px;
}

/* ブースト値 */
#orange-player-1-boost-box {
  padding-top: 2px;
  padding-left: 4px;

  width: 270px;
  text-align: left;
}
#orange-player-1-boost {
  color: white;
  font-size: 16px;
}

/* ブーストバー */
#orange-player-1-p-bar-box {
  top: 30px;
  right: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#orange-player-1-p-bar {
  background-color: orange;
}

/* Orangeチームプレイヤー2の情報 */
/* BOX */
#orange-player-2-box {
  top:   75px;
  right:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#orange-player-2-image-box {
  top: -10px;
  right: 270px;
}
#orange-player-2-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#orange-player-2-name-box {
  padding-top: 2px;
  padding-right: 6px;

  width: 270px;
  text-align: right;
}
#orange-player-2-name {
  color: white;
  font-size: 16px;
}

/* ブースト値 */
#orange-player-2-boost-box {
  padding-top: 2px;
  padding-left: 4px;

  width: 270px;
  text-align: left;
}
#orange-player-2-boost {
  color: white;
  font-size: 16px;
}

/* ブーストバー */
#orange-player-2-p-bar-box {
  top: 30px;
  right: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#orange-player-2-p-bar {
  background-color: orange;
}

/* Orangeチームプレイヤー3の情報 */
/* BOX */
#orange-player-3-box {
  top:   135px;
  right:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#orange-player-3-image-box {
  top: -10px;
  right: 270px;
}
#orange-player-3-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}


/* プレイヤー名 */
#orange-player-3-name-box {
  padding-top: 2px;
  padding-right: 6px;

  width: 270px;
  text-align: right;
}
#orange-player-3-name {
    color: white;
    font-size: 16px;
}

/* ブースト値 */
#orange-player-3-boost-box {
  padding-top: 2px;
  padding-left: 4px;

  width: 270px;
  text-align: left;
}
#orange-player-3-boost {
  color: white;
  font-size: 16px;
}

/* ブーストバー */
#orange-player-3-p-bar-box {
  top: 30px;
  right: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#orange-player-3-p-bar {
  background-color: orange;
}

/* Orangeチームプレイヤー4の情報 */
/* BOX */
#orange-player-4-box {
  top:   195px;
  right:  0px;

  width:  270px;
  height: 45px;

  background-color: #000033;
}

/* プレイヤー画像 */
#orange-player-4-image-box {
  top: -10px;
  right: 270px;
}
#orange-player-4-image {
  max-width: 55px;
  max-height: 55px;
  border-style: none;
}

/* プレイヤー名 */
#orange-player-4-name-box {
  padding-top: 2px;
  padding-right: 6px;

  width: 270px;
  text-align: right;
}
#orange-player-4-name {
  color: white;
  font-size: 16px;
}

/* ブースト値 */
#orange-player-4-boost-box {
  padding-top: 2px;
  padding-left: 4px;

  width: 270px;
  text-align: left;
}
#orange-player-4-boost {
  color: white;
  font-size: 16px;
}

/* ブーストバー */
#orange-player-4-p-bar-box {
  top: 30px;
  right: 6px;

  width: 260px;
  height: 10px;
  background-color: aliceblue;
}
#orange-player-4-p-bar {
  background-color: orange;
}

/* Orangeチームプレイヤーのアクティブ時の表示 */
/* BOX */
#orange-players-box .active {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,51,1) 50%, rgba(0,0,51,1) 100%);
}

/* プレイヤー名 */
#orange-players-box .active .name span {
  color: white;
}

/* ブースト値 */
#orange-players-box .active .boost span {
  color: white;
}

/* ブーストバー */
#orange-players-box .active .boost-bar {
  background-color: aliceblue;
}
#orange-players-box .active .boost-bar div {
  background-color: orange;
}

/***************************************************
 ■ IsDead時（デモされた時）の背景色変更 ■ 
***************************************************/
#blue-players-box .isdead,
#orange-players-box .isdead{
  background-color: #999;
}

/***************************************************
 ■ アクティブプレイヤーの情報 ■ 
***************************************************/
/* プレイヤー画像 */
#active-image-box {
  bottom: 130px;
  left: 25px;
}
#active-image {
  width: 250px;
  height: 250px;
  
  padding: 5px;
  border-radius: 50%;
}
#active-image.blue {
  border: 9px solid blue;
  background-color: rgb(148, 148, 255);
}
#active-image.orange {
  border: 9px solid orange;
  background-color: rgb(255, 225, 200);
}

/* プレイヤー名 */
#active-name-box {
  bottom: 70px;
  left: 20px;

  width: 270px;
  text-align: left;
}
#active-name {
  color: white;
  font-size: 30px;
}

/* スコア */
#active-score-box {
  bottom: 12px;
  left: 5px;

  width: 40px;
  text-align: right;
}
#active-score {
  color: white;
  font-size: 16px;
}

/* ゴール数 */
#active-goals-box {
  bottom: 12px;
  left: 200px;

  width: 40px;
  text-align: right;
}
#active-goals {
  color: white;
  font-size: 16px;
}

/* シュート数 */
#active-shots-box {
  bottom: 12px;
  left: 400px;

  width: 40px;
  text-align: right;
}
#active-shots {
  color: white;
  font-size: 16px;
}

/* アシスト数 */
#active-assists-box {
  bottom: 12px;
  left: 590px;

  width: 40px;
  text-align: right;
}
#active-assists {
  color: white;
  font-size: 16px;
}

/* セーブ数 */
#active-saves-box {
  bottom: 12px;
  left: 800px;

  width: 40px;
  text-align: right;
}
#active-saves {
  color: white;
  font-size: 16px;
}

/* デモ数 */
#active-demos-box {
  bottom: 0px;
  left: 0px;

  width: 40px;
  text-align: right;
}
#active-demos {
  color: white;
  font-size: 16px;
}

/* 他の車体との接触数 */
#active-cartouches-box {
  bottom: 0px;
  left: 0px;

  width: 40px;
  text-align: right;
}
#active-cartouches {
  color: white;
  font-size: 16px;
}

/* 車体速度 */
#active-speed-box {
  bottom: 70px;
  right: 138px;

  width: 40px;
  text-align: right;
}
#active-speed {
  color: white;
  font-size: 30px;
}

/* ボールタッチ回数 */
#active-touches-box {
  bottom: 0px;
  left: 0px;

  width: 40px;
  text-align: right;
}
#active-touches {
  color: white;
  font-size: 16px;
}


/* ブースト値 */
#active-boost-box {
  bottom: 110px;
  right: 67px;

  width: 150px;
  text-align: center;
}
#active-boost {
  color: white;
  font-size: 70px;

  font-weight: 600;

  text-shadow:
    4px 0px 0 #000,
    4px 4px 0 #000,
    0px 4px 0 #000,
    -4px 4px 0 #000,
    -4px 0px 0 #000,
    -4px -4px 0 #000,
    0px -2px 0 #000,
    4px -4px 0 #000;
  -webkit-text-stroke: 2px #FFF;
}

/* ブーストゲージ */
#gauge {
  position: absolute;
  bottom: 36px;
  right: 40px;
  width: 200px !important;
  height: 200px !important;
}

/***************************************************
 ■ 得点者の情報 ■ 
***************************************************/

/* プレイヤー名 */
#scorer-name-box {
  bottom: 15px;
  left: 540px;

  width: 200px;
  text-align: left;
}
#scorer-name {
  color: white;
  font-size: 28px;
}

/* アシストプレイヤー名 */
#scorer-assister-box {
  bottom: 15px;
  left: 960px;

  width: 200px;
  text-align: left;
}
#scorer-assister {
  color: white;
  font-size: 28px;
}

/* シュート速度（KPH） */
#scorer-ballspeed-box {
  bottom: 15px;
  left: 1330px;

  width: 100px;
  text-align: left;
}
#scorer-ballspeed {
  color: white;
  font-size: 28px;
}

/***************************************************
 ■ 各種画像の設定 ■ 
***************************************************/

/* ミニマップ */
#minimap-box {
  top: 450px;
  left: 0px;

  opacity: 0.8;
}
div#minimap-box,
#minimap-box img {
  width: 300px;
  height: 200px;
}

/* リプレイ画像 */
#replay-image {
  /*透過の設定*/
  opacity: 0.8;
}

/* ゴール後の切り替え画像 */
#transition-after-goal-image {
  opacity: 0;

  animation-name: fadeInOut;
  animation-timing-function: ease;
  animation-duration: 1s; /* アニメーションの再生時間 */
  animation-delay: 3.2s; /* アニメーション開始時間の遅延 */
  animation-iteration-count: 1;
  animation-direction: normal;
}

/* リプレイ後の切り替え画像 */
#transition-after-replay-image {
  opacity: 0;

  animation-name: fadeInOut;
  animation-timing-function: ease;
  animation-duration: 1s; /* アニメーションの再生時間 */
  animation-delay: 2.5s; /* アニメーション開始時間の遅延 */
  animation-iteration-count: 1;
  animation-direction: normal;
}

/***************************************************
 ■ アニメーション一覧 ■
/***************************************************

/* フェードイン・アウト */
@keyframes fadeInOut {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* スライドイン・アウト */
@keyframes slideInOut {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }

  30% {
    opacity: 1;
    transform: translateX(0);
  }

  70% {
    opacity: 1;
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-180px);
      opacity: 0;
  }
}

/* ズームイン・アウト */
@keyframes zoomInOut {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  /* 30% {
    opacity: 1;
    transform: scale(1);
  } */

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
